.profileBodyContainer {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 0 0;
    background-image: url(../images/ProfileBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.hidden {
    display: none;
}

.profile-container {
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 1.2%;
    margin: auto;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.profileTitle {
    font-size: 4em;
    font-weight: 500;
    line-height: 1;
}

.profileSubtitle {
    margin-top: 6px;
    text-align: end;
    font-size: 24px;
    color: #9D9D9D;
    font-weight: 400;
}

.profileMain {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 104px;
}

.profileButton {
    width: 350px;
    margin-bottom: 31px;
    font-size: 20px;
    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
}

.profileButton:hover {
    border: 1px solid #00D29D;
    color: #00D29D;
}