.my-card {
    width: 55vh; 
    height: 30vh;
    transition: border 0.3s ease;
    border-color: rgba(50, 58, 56, 0.637); 
  }
  
.my-card:hover {
    border-radius: 1%;
    background-color: rgba(2, 255, 192, 0.13);
    border-color: rgba(0, 210, 157, 0.962); 
    border-radius: 4px;
   }

   .card-container{
    display: grid;
    /*justify-content: space-between;*/
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
   }

   .card-container > * {
    margin-top: 10px;
    margin-bottom: 10px;
   }

.create-path-button{
    float: right;
    height: fit-content;
    width: fit-content;
    margin-right: 6%;
    margin-left: 46%;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 30;
    color: rgb(14, 163, 101);
    border-color: rgb(14, 163, 101);
}
.create-path-button:hover {
  background-color: rgb(0, 210, 157);
  color: rgb(0,0,0);
  border: 0;
 }
