.create-question-button{
    float: right;
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 30;
    color: rgb(14, 163, 101);
    border-color: rgb(14, 163, 101);
}

.create-question-button:hover{
    background-color: rgb(0, 210, 157);
    color: rgb(0,0,0);
    border: 0;
}

.create-user-button{
    float: right;
    height: fit-content;
    width: fit-content;
    font-size: 30;
    color: rgb(14, 163, 101);
    border-color: rgb(14, 163, 101);
}

.create-user-button:hover{
    background-color: rgb(0, 210, 157);
    color: rgb(0,0,0);
    border: 0;
}

.udv-save-button{
    float: right;
    height: fit-content;
    width: fit-content;
    font-size: 24;
    background-color: rgb(0, 210, 157);
    text-transform: none;
}
.udv-save-button:hover{
    background-color: rgb(0, 210, 157);
    color: black;
    border: 0;
}

.save-tasks-button{
    float: left;
    height: fit-content;
    width: fit-content;
    font-size: 24;
    background-color: rgb(0, 210, 157);
    text-transform: none;
    font-family: Golos, Helvetica, Arial, sans-serif;
}

.save-tasks-button:hover{
    background-color: rgb(0, 210, 157);
    color: black;
    border: 0;
}

.udv-app-bar{
    color: rgb(0, 210, 157);
    position: sticky;
}

.page-header{
    margin-top: '0px';
    float: 'left';
    margin-bottom: '0px';
    margin-left: '20px';
    padding: '0px';
}
 